<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
  <display-name>Magshop</display-name>
  
    <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<servlet-class>Servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>


  	<servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	
  	<servlet-name>ProductController</servlet-name>
  	<servlet-class>Servlet.ProductController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Logout</display-name>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>Servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
 
  

	
</web-app>